html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  height: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.no-sidebars #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-second #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 74.1935483871%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 65.9574468085%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-first #content {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 74.1935483871%;
    margin-left: 25.8064516129%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 74.4680851064%;
    margin-left: 25.5319148936%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
.two-sidebars #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 48.3870967742%;
    margin-left: 25.8064516129%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 40.4255319149%;
    margin-left: 25.5319148936%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

#sidebar-first {
  width: 100%;
}
@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 22.5806451613%;
    margin-left: -77.4193548387%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -103.2258064516%;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 23.4042553191%;
    margin-left: -68.085106383%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -102.1276595745%;
  }
}

#sidebar-second {
  width: 100%;
}
@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 22.5806451613%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 31.914893617%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.inner {
  padding: 0;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
}

.inline-box {
  display: inline;
}

/*# sourceMappingURL=layout.css.map */
