html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #ccc 0, #ccc 20%, transparent 20%, transparent 26.6666666667%, #ccc 26.6666666667%, #ccc 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #ccc 53.3333333333%, #ccc 73.3333333333%, transparent 73.3333333333%, transparent 80%, #ccc 80%, #ccc 100%, transparent 100%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #ccc 0, #ccc 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #ccc 12.9032258065%, #ccc 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #ccc 25.8064516129%, #ccc 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #ccc 38.7096774194%, #ccc 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #ccc 51.6129032258%, #ccc 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #ccc 64.5161290323%, #ccc 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #ccc 77.4193548387%, #ccc 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #ccc 90.3225806452%, #ccc 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #ccc 0, #ccc 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #ccc 12.9032258065%, #ccc 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #ccc 25.8064516129%, #ccc 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #ccc 38.7096774194%, #ccc 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #ccc 51.6129032258%, #ccc 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #ccc 64.5161290323%, #ccc 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #ccc 77.4193548387%, #ccc 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #ccc 90.3225806452%, #ccc 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #ccc 0, #ccc 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #ccc 12.9032258065%, #ccc 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #ccc 25.8064516129%, #ccc 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #ccc 38.7096774194%, #ccc 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #ccc 51.6129032258%, #ccc 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #ccc 64.5161290323%, #ccc 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #ccc 77.4193548387%, #ccc 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #ccc 90.3225806452%, #ccc 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #ccc 0, #ccc 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #ccc 12.9032258065%, #ccc 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #ccc 25.8064516129%, #ccc 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #ccc 38.7096774194%, #ccc 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #ccc 51.6129032258%, #ccc 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #ccc 64.5161290323%, #ccc 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #ccc 77.4193548387%, #ccc 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #ccc 90.3225806452%, #ccc 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #ccc 0, #ccc 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #ccc 12.9032258065%, #ccc 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #ccc 25.8064516129%, #ccc 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #ccc 38.7096774194%, #ccc 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #ccc 51.6129032258%, #ccc 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #ccc 64.5161290323%, #ccc 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #ccc 77.4193548387%, #ccc 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #ccc 90.3225806452%, #ccc 100%, transparent 100%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #ccc 0, #ccc 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #ccc 8.5106382979%, #ccc 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #ccc 17.0212765957%, #ccc 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #ccc 25.5319148936%, #ccc 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #ccc 34.0425531915%, #ccc 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #ccc 42.5531914894%, #ccc 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #ccc 51.0638297872%, #ccc 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #ccc 59.5744680851%, #ccc 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #ccc 68.085106383%, #ccc 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #ccc 76.5957446809%, #ccc 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #ccc 85.1063829787%, #ccc 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #ccc 93.6170212766%, #ccc 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #ccc 0, #ccc 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #ccc 8.5106382979%, #ccc 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #ccc 17.0212765957%, #ccc 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #ccc 25.5319148936%, #ccc 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #ccc 34.0425531915%, #ccc 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #ccc 42.5531914894%, #ccc 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #ccc 51.0638297872%, #ccc 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #ccc 59.5744680851%, #ccc 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #ccc 68.085106383%, #ccc 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #ccc 76.5957446809%, #ccc 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #ccc 85.1063829787%, #ccc 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #ccc 93.6170212766%, #ccc 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #ccc 0, #ccc 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #ccc 8.5106382979%, #ccc 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #ccc 17.0212765957%, #ccc 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #ccc 25.5319148936%, #ccc 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #ccc 34.0425531915%, #ccc 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #ccc 42.5531914894%, #ccc 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #ccc 51.0638297872%, #ccc 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #ccc 59.5744680851%, #ccc 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #ccc 68.085106383%, #ccc 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #ccc 76.5957446809%, #ccc 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #ccc 85.1063829787%, #ccc 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #ccc 93.6170212766%, #ccc 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #ccc 0, #ccc 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #ccc 8.5106382979%, #ccc 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #ccc 17.0212765957%, #ccc 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #ccc 25.5319148936%, #ccc 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #ccc 34.0425531915%, #ccc 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #ccc 42.5531914894%, #ccc 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #ccc 51.0638297872%, #ccc 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #ccc 59.5744680851%, #ccc 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #ccc 68.085106383%, #ccc 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #ccc 76.5957446809%, #ccc 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #ccc 85.1063829787%, #ccc 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #ccc 93.6170212766%, #ccc 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #ccc 0, #ccc 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #ccc 8.5106382979%, #ccc 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #ccc 17.0212765957%, #ccc 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #ccc 25.5319148936%, #ccc 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #ccc 34.0425531915%, #ccc 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #ccc 42.5531914894%, #ccc 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #ccc 51.0638297872%, #ccc 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #ccc 59.5744680851%, #ccc 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #ccc 68.085106383%, #ccc 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #ccc 76.5957446809%, #ccc 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #ccc 85.1063829787%, #ccc 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #ccc 93.6170212766%, #ccc 100%, transparent 100%);
  }
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}

.no-sidebars #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-second #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 74.1935483871%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 65.9574468085%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-first #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 74.1935483871%;
    margin-left: 25.8064516129%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 74.4680851064%;
    margin-left: 25.5319148936%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
.two-sidebars #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 48.3870967742%;
    margin-left: 25.8064516129%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 40.4255319149%;
    margin-left: 25.5319148936%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

#sidebar-first {
  width: 100%;
}
@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 22.5806451613%;
    margin-left: -77.4193548387%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -103.2258064516%;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 23.4042553191%;
    margin-left: -68.085106383%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -102.1276595745%;
  }
}

#sidebar-second {
  width: 100%;
}
@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.2258064516%;
    width: 22.5806451613%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 31.914893617%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.inner {
  padding: 0;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
}

/*# sourceMappingURL=layout.css.map */
