html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
  }
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
  text-decoration: underline;
}

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 100%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
  word-wrap: break-word;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
  }
}

label {
  font-weight: normal;
  margin-bottom: 5px;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
textarea,
select[multiple=multiple] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.1s ease-in-out;
  -moz-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 6.6666666667px;
  max-width: 100%;
}
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
textarea:hover,
select[multiple=multiple]:hover {
  border-color: #999999;
}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
textarea:focus,
select[multiple=multiple]:focus {
  border-color: black;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 5px;
}

input[type="file"] {
  width: auto;
  padding-bottom: 10px;
}

select {
  max-width: 100%;
  width: auto;
  margin-bottom: 20px;
}

input[type="submit"] {
  background: transparent;
  border: 1px solid black;
  padding: 6.6666666667px 10px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
input[type="submit"]:hover {
  background-color: black;
  color: white;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.6666666667%, #eee 26.6666666667%, #eee 46.6666666667%, transparent 46.6666666667%, transparent 53.3333333333%, #eee 53.3333333333%, #eee 73.3333333333%, transparent 73.3333333333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 9.6774193548%, transparent 9.6774193548%, transparent 12.9032258065%, #eee 12.9032258065%, #eee 22.5806451613%, transparent 22.5806451613%, transparent 25.8064516129%, #eee 25.8064516129%, #eee 35.4838709677%, transparent 35.4838709677%, transparent 38.7096774194%, #eee 38.7096774194%, #eee 48.3870967742%, transparent 48.3870967742%, transparent 51.6129032258%, #eee 51.6129032258%, #eee 61.2903225806%, transparent 61.2903225806%, transparent 64.5161290323%, #eee 64.5161290323%, #eee 74.1935483871%, transparent 74.1935483871%, transparent 77.4193548387%, #eee 77.4193548387%, #eee 87.0967741935%, transparent 87.0967741935%, transparent 90.3225806452%, #eee 90.3225806452%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.3829787234%, transparent 6.3829787234%, transparent 8.5106382979%, #eee 8.5106382979%, #eee 14.8936170213%, transparent 14.8936170213%, transparent 17.0212765957%, #eee 17.0212765957%, #eee 23.4042553191%, transparent 23.4042553191%, transparent 25.5319148936%, #eee 25.5319148936%, #eee 31.914893617%, transparent 31.914893617%, transparent 34.0425531915%, #eee 34.0425531915%, #eee 40.4255319149%, transparent 40.4255319149%, transparent 42.5531914894%, #eee 42.5531914894%, #eee 48.9361702128%, transparent 48.9361702128%, transparent 51.0638297872%, #eee 51.0638297872%, #eee 57.4468085106%, transparent 57.4468085106%, transparent 59.5744680851%, #eee 59.5744680851%, #eee 65.9574468085%, transparent 65.9574468085%, transparent 68.085106383%, #eee 68.085106383%, #eee 74.4680851064%, transparent 74.4680851064%, transparent 76.5957446809%, #eee 76.5957446809%, #eee 82.9787234043%, transparent 82.9787234043%, transparent 85.1063829787%, #eee 85.1063829787%, #eee 91.4893617021%, transparent 91.4893617021%, transparent 93.6170212766%, #eee 93.6170212766%, #eee 100%, transparent 100%);
  }
}

/*# sourceMappingURL=style.css.map */
